/* Write your CSS here */
* {
  /* border: 1px solid white; */
  font-family: 'roboto';
}
.bg-container {
  background-color: #161625;
  padding: 4% 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-nav-container {
  display: flex;
  padding: 0px;
  margin-bottom: 0px;

  align-items: center;
}
.nav-icon {
  height: 60px;
  margin-left: 0;
}
.nav-logo-text {
  color: #2cc6c6;
  font-size: 30px;
  margin-left: 10px;
}
.chart-container-bg {
  background-color: #1c1c2b;
  padding: 25px 40px;
  border-radius: 10px;
  margin: 25px 0px;
  margin-top: 0;
}
.main-heading {
  font-size: 35px;
  color: #cbd5e1;

  margin-bottom: 10px auto 20px 0px;
}
.failure-container {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 400px;
}
.failure-text {
  color: white;
  font-family: 'Bree Serif';
  margin-top: 10px;
}
